<app-alert></app-alert>

<div class="wrap"  [class.wrap-light]="theme === 'light'" [class.wrap-dark]="theme === 'dark'">
  <div class="container">
    <div class="form">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <input type="text" placeholder="Todo" formControlName="title">

        <button type="submit" [disabled]="disabled">Отправить</button>
      </form>

      <app-toggle-theme (onTheme)="toggleTheme($event)"></app-toggle-theme>
    </div>

    <app-todos
      (onConfirm)="confirm($event)"
      [todos]="todos" *ngIf="loading; else loader"
    ></app-todos>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
