@import 'src/assets/scss/var';

header {
  background: $primary;
  height: $header-size;
}

.navbar {
  display: flex;
  align-items: center;
  width: 98%;
  justify-content: space-between;
  height: $header-size;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  margin-left: 10px;

  a, button {
    color: #fff;
    background: none;
    &.active {
      color: #ccc;
    }
  }

  &.logo {
    width: 100%;
    img {
      width: 25px;
      object-fit: cover;
    }
  }
}
