<header>
  <nav class="navbar">
    <a
      routerLink="/"
      class="logo item"
    >
      <img src="/assets/img/logo.png" alt="logo">
    </a>

    <ul class="list">
      <ng-container *ngIf="isAuth; else notAuth">
        <ng-container *ngIf="data.role === 'admin'">
          <li class="item">
            <a
              routerLink="/admin/dashboard"
              routerLinkActive="active"
            >
              Панель
            </a>
          </li>
        </ng-container>
        <li class="item">
          <button
            (click)="logout()"
          >
            Выйти
          </button>
        </li>
      </ng-container>
      <ng-template #notAuth>
        <li class="item">
          <a
            routerLink="/auth/login"
            routerLinkActive="active"
          >
            Авторизоваться
          </a>
        </li>
        <li class="item">
          <a
            routerLink="/auth/sign-up"
            routerLinkActive="active"
          >
            Зарегистрироваться
          </a>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
