<header>
  <nav class="navbar">
    <ul>
      <div>
        <li class="logo">
          <a routerLink="/" class="logo__a">
            <img src="assets/img/logo.png" alt="">
          </a>
        </li>
      </div>
      <div *ngIf="isAuth; else notAuth">
        <li>
          <a
            routerLink="/auth/login"
            (click)="logout()"
          >
            Выйти
          </a>
        </li>
      </div>
    </ul>

    <ng-template #notAuth>
      <div class="items">
        <li>
          <a routerLink="/auth/login" routerLinkActive="active">Авторизоваться</a>
        </li>
        <li>
          <a routerLink="/auth/sign-up" routerLinkActive="active">Зарегистрироваться</a>
        </li>
      </div>
    </ng-template>
  </nav>
</header>
