<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field" [ngClass]="{
    'error': form.get('email').invalid && form.get('email').touched
  }">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Email" formControlName="email">

    <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email').errors.required">Поле обязательно к заполению</span>
      <span *ngIf="form.get('email').errors.email">Incorrect email</span>
    </div>
  </div>
  <div class="form-field" [ngClass]="{
    'error': form.get('password').invalid && form.get('password').touched
  }">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" formControlName="password" autocomplete="off">
    <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password').errors.required">Поле обязательно к заполению</span>
      <span *ngIf="form.get('password').errors.minlength">
        Минмум символов для пароля: {{form.get('password').errors.minlength.requiredLength}}.
        Сейчас: {{form.get('password').errors.minlength.actualLength}}
      </span>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid || disabled">Login</button>
</form>
