.wrap {
  max-height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background: #797979;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #39393c;
  }

  .todo {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-info {
      display: flex;

      &.confirm {
        text-decoration: line-through;
      }

      &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 80%;
      }
    }

    h3, strong {
      font-size: 1.2rem;
    }
  }
}

.buttons {
  padding: 0 20px;
}
