.wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #000;

  &-dark {
    background: #19191b;
    color: #fff;

    .form {
      input {
        border: 1px solid #dc3545;
      }

      button {
        color: #fff;
        background: #dc3545;
      }
    }

    .container {
      background: #37363b;
      border-radius: 7px;
    }
  }
}

.container {
  width: 500px;
  height: 600px;
  border: 1px solid #b00020;
  border-radius: 4px;
  padding: 20px;
  transition: .5s;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;

  input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 20px 0 0;
    transition: .3s ease-in-out;
  }

  button {
    padding: 10px 25px;
    border-radius: 11px;
    transition: .3s ease-in-out;

    &:disabled {
      color: #fff;
      background: #b7b1b1;
      cursor: not-allowed;
    }
  }

  input, button {
    font-size: 1.2rem;
  }

  form {
    display: flex;
  }
}


